.App {
  text-align: center;

}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html{
  scroll-behavior: smooth;
  background-color: aliceblue; 
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track{
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb{
  background: #888;
}

::-webkit-scrollbar-thumb:hover{
  background: crimson;
}